body {
    color:  white;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(https://yanananan.github.io/unit-4-game/assets/images/archesdark.png);

}

#center {
    width: 960px;
    margin: 100px auto auto auto;
    border: 1px solid gray;
}

#centerHead{
    height: 100px;
}
#iconArea {
    width: 464px;
    margin: 10px auto 10px auto;
}

#centerBody {
    width: 960px;
    height: 262px;
    margin: 0px auto 0px auto;
    background-size: 960px 262px;
    position: relative;
}


.icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 4px solid gray;
    border-radius: 100%;
}

.background {
    width: 768px;
    height: 432px;
}

#attackerDiv {
    width: 313px;
    height: 262px;
    float: left;
    background-size: auto 262px;
    background-repeat: no-repeat;
}
#centerPanel {
    width: 334px;
    height: 262px;
    float: left;
}
#defenderDiv {
    width: 313px;
    height: 262px;
    float: right;
    background-size: auto 262px;
    background-repeat: no-repeat;
}
#toolTip {
    width: 334px;
    height: 100px;
    font-style: italic;
    visibility: hidden;
    padding: 10px 0px 0px 0px;
}

#performAction {
    position: absolute;
    top: 90px;
    left: 436px;
    visibility: hidden;
}
#attackerHealth {
    font-size: 20px;
    position: absolute;
    top: 120px;
    left: 370px;
}
#defenderHealth {
    font-size: 20px;
    position: absolute;
    top: 120px;
    left: 560px;
}
.message {
    width: 960px;
    height: 2em;
    text-align: center;
    vertical-align: middle;
}
