body {
    color:  white;
    background-image: url(https://yanananan.github.io/unit-4-game/assets/images/archesdark.png);

}
.center {
    width: 960px;
    height: 540px;
    margin: auto;
    background-image: url(https://yanananan.github.io/unit-4-game/assets/images/susabi_background.jpg);
    background-size: 960px 540px;
}
.centerHead {
    width: 365px;
    margin: 10px auto 10px auto;
}

.centerBody {
    width: 960px;
    height: 347px;
    margin: 10px auto 10px auto;
    border: 1px solid gray;
    background-image: url(https://yanananan.github.io/unit-4-game/assets/images/background1.jpg);
    background-size: 960px 347px;
}

.icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 4px solid gray;
    border-radius: 100%;
}
.background {
    width: 768px;
    height: 432px;
}

#attackerDiv {
    width: 0px;
    height: 347px;
    border: 1px solid gray;
    float: left;
    background-size: auto 347px;
    background-repeat: no-repeat;
}
#defenderDiv {
    width: 0px;
    height: 347px;
    border: 1px solid gray;
    float: right;
    background-size: auto 347px;
    background-repeat: no-repeat;
}